<div class="d-flex justify-content-center mt-3">
    <div>
        <p class="text-light about-us-text-size-main-p fw-bold">KNOW OUR 
            <span class="text-warning about-us-text-size-main-p fw-bold">BURGERS</span>
        </p>
    </div>
</div>
<div class="d-flex justify-content-lg-evenly align-items-center flex-xs-column flex-sm-column flex-md-row mt-5">
    <div>
        <div>
            <div class="d-flex justify-content-center">
                <img src="~/Images/Logo/round-bread.png" />
            </div>
            <p class="text-warning text-center fw-bold">Best Bread</p>
            <p class="text-light text-center">Baked fresh every day, made to perfection, <br /> 
                our bread is a crown jewel of flavor and texture, <br /> 
                elevating any burger experience to new heights.</p>
        </div>
        <div class="mt-3">
            <div class="d-flex justify-content-center">
                <img src="~/Images/Logo/steak.png" />
            </div>
            <p class="text-warning text-center fw-bold">Best Meat</p>
            <p class="text-light text-center">Indulge in the extraordinary flavor and tenderness <br /> 
                of our meat the heart and soul of our delectable burgers. </p>
        </div>
        <div class="mt-3">
            <div class="d-flex justify-content-center mb-2">
                <img src="~/Images/Logo/bbq.png" />
            </div>
            <p class="text-warning text-center fw-bold">Barbecue Sauce</p>
            <p class="text-light text-center">Crafted with passion and perfected over time, <br /> 
                this sauce is the secret behind our mouthwatering <br /> 
                barbecue-infused creations.</p>
        </div>
    </div>
    <div>
        <img class="w-100 h-100" src="~/Images/Pictures/AboutUsImage.png" />
    </div>
    <div>
        <div>
            <div class="d-flex justify-content-center mb-2">
                <img src="~/Images/Logo/tasty.png" />
            </div>
            <p class="text-warning text-center fw-bold">Crunchy and Tasty</p>
            <p class="text-light text-center">Prepare yourself for an unforgettable culinary <br /> 
                delight with our Crunchy and Tasty Sensation!</p>
        </div>
        <div class="mt-3">
            <div class="d-flex justify-content-center mb-2">
                <img src="~/Images/Logo/badge.png" />
            </div>
            <p class="text-warning text-center fw-bold">
                Hight Quality
            </p>
            <p class="text-light text-center">At our burger shop, we believe that excellence <br /> 
                is not just a goal; it's a way of life.</p>
        </div>
        <div class="mt-3">
            <div class="d-flex justify-content-center mb-2">
                <img src="~/Images/Logo/cheese.png" />
            </div>
            <p class="text-warning text-center fw-bold">
                Delicious Cheese
            </p>
            <p class="text-light text-center">Handpicked from the finest selection of artisanal cheeses,<br /> 
                our Delicious Cheese is crafted with care and expertise.</p>
        </div>
    </div>
</div>