<div class="d-flex flex-xs-column flex-sm-column flex-md-row flex-lg-row position-relative custom-height">
    <div class="flex-basis-50 bg-black d-flex justify-content-center align-items-lg-center align-items-md-center align-items-xs-start align-items-md-start">
        <div class="">
            <p class="text-warning home-main-text-size-xs home-main-text-size-lg home-main-text-size-md fw-bold text-end">EAT LIKE<br /> A KING</p>
        </div>
    </div>
    <div class="flex-basis-50 bg-warning d-flex justify-content-center align-items-lg-center align-items-md-center align-items-xs-end align-items-sm-end">
        <div class="">
            <p class="text-dark home-main-text-size-xs home-main-text-size-lg home-main-text-size-md fw-bold">ENJOY<br />EVERY<br />BITE</p>
        </div>
    </div>
    <a asp-controller="Menu" asp-action="MainMenu">
        <img id="homePageImage" class="w-30 w-xs-50" src="~/Images/Pictures/HomePageImage.png">
    </a>
</div>

<div class="d-flex justify-content-around bg-black mt-3 flex-xs-column">
    <div class="d-flex flex-column align-items-center mt-3">
        <img src="~/Images/Logo/fast-food.png" />
        <p class="text-light text-center">BEST COMBO</p>
    </div>
    <div class="d-flex flex-column align-items-center mt-3">
        <img src="~/Images/Logo/burger.png" />
        <p class="text-light text-center">PREMIUM QUALITY</p>
    </div>
    <div class="d-flex flex-column align-items-center mt-3">
        <img src="~/Images/Logo/sauces.png" />
        <p class="text-light text-center">DELICIOUS SAUCES</p>
    </div>
    <div class="d-flex flex-column align-items-center mt-3">
        <img src="~/Images/Logo/support.png" />
        <p class="text-light text-center">SERVICE 24/7</p>
    </div>
</div>