@using BurgerApp.Domain.Models;
@model List<Fries>

<div class="container d-flex justify-content-center flex-wrap margin-bottom-10rem">
    @foreach (var fries in Model)
    {
        <div class="card m-5" style="width: 18rem;">
            <div class="card-body bg-warning">
                <div class="d-flex justify-content-end">
                    <p class="bg-dark text-light text-center" style="width:20%; border-radius:45%;">@fries.Calories kcal</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <img class="fries-image" src="@Url.Content(fries.RoadToImage)" alt="@fries.Size">
                    <h5 class="card-title text-center mt-2 italic">@fries.Size</h5>
                </div>
                <div class="d-flex justify-content-center mt-2 bg-black text-warning radius-30">
                    <div>
                        <span class="fw-bold price-font-size">$@fries.Price</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>