<div class="d-flex justify-content-center flex-column">
    <h5 class="text-center mt-3">
        We are sorry, but it appears that there was an error with your request. <br />
        Please review the following information to identify the issue: <br />
    </h5>
    <h3 class="text-center mt-3 text-danger">
        1.Non-existing Burger: <br />
        It seems that the burger you have requested does not exist in our menu. 
        Please ensure that you have selected a burger from the available options. 
        If you are unsure about the choices, please refer to our menu for the correct burger names. <br />
    </h3>
    <h3 class="text-center mt-3 text-danger">
        2.Empty Field: <br />
        It appears that you have left a field empty.
        To proceed with your request, please make sure you have provided all the necessary information.
        Double-check the form or input fields and ensure that all details have been filled in correctly. <br />
    </h3>
    <h5 class="text-center mt-3">
        Please take a moment to review your request and make the necessary adjustments. <br />
        If you need any further assistance, feel free to ask, and we are be glad to help you resolve the issue.
    </h5>
</div>
